body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 75%;
  margin: 0 auto;
}

form {
  margin-bottom: 1rem;
}

.fw-normal {
  font-weight: normal !important;
}

.event-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.event-card {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 1rem;

  &.featured {
    border-color: #000;
  }

  &.online {
    border-left-color: #00ff9d;
    border-left-width: 0.75rem;
  }

  &.onsite {
    border-left-color: #c300ff;
    border-left-width: 0.75rem;
  }

  &.sold-out {
    color: #aaa;
  }

  &.favorite {
    background-color: rgba(25, 135, 84, 0.1);
  }

  p {
    margin: 0;

    &:last-of-type {
      margin-bottom: 1rem;
    }
  }
}

.badge {
  --bs-badge-padding-x: 0.65em;
  --bs-badge-padding-y: 0.35em;
  --bs-badge-font-size: 0.5em;
  --bs-badge-font-weight: 700;
  --bs-badge-color: #fff;
  --bs-badge-border-radius: 0.25rem;
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  color: var(--bs-badge-color);
  text-align: center;
  border-radius: var(--bs-badge-border-radius);
}

.text-bg-success {
  color: #fff !important;
  background-color: rgba(25, 135, 84, 1) !important;
}

.section {
  margin-block: 2rem;
}

.section>h2 {
  margin-bottom: 1rem;
}

.section-content {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
}

.interaction-card {
  padding: 1rem;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

/* ? === Formulare === */

form {
  display: grid;
  gap: 1rem;
}

label {
  font-weight: 600;
}

input,
select,
textarea,
button {
  font: inherit;
}

input,
select,
textarea {
  max-width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
}

textarea {
  resize: vertical;
}

button {
  display: block;
  padding: 0.75rem 1rem;
  border: 0;
  border-radius: 0.375rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.search-form {
  margin-block: 2rem;
}

.search-row {
  display: flex;
  gap: 0.75rem;
}

.search-row input {
  flex: 1;
}

.search-row button {
  flex: 0 0 auto;
}